<!DOCTYPE html>
<html>
<head>
    <title>Display</title>
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css')}}"></link>
</head>
<body>
    <h1 id="display"></h1>
    <p>Random number trivia</p>

    <script>
        var socket = io();
        socket.on('display', function(data) {
            document.getElementById('display').innerText = data;
        });
    </script>
</body>
</html>
